[submodule "openpilot"]
	path = openpilot
	url = git@github.com:commaai/openpilot.git
[submodule "sunnypilot"]
	path = sunnypilot
	url = git@github.com:sunnypilot/sunnypilot.git
[submodule "opgm"]
	path = opgm
	url = git@github.com:opgm/openpilot.git
[submodule "BMW-E8x-E9x"]
	path = BMW-E8x-E9x
	url = git@github.com:BMW-E8x-E9x/openpilot.git
